[SddmGreeterTheme]
Name=sddm-themes
Description=sddm-themes
Author=crizzy9
Website=https://github.com/crizzy9/sddm-themes
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
# ConfigFile=Themes/beach_side.conf
ConfigFile=Themes/kopus_beachside_cafe.conf
# ConfigFile=Themes/sakura_garden_cafe.conf
# ConfigFile=Themes/jake_the_dog.conf
Screenshot=Previews/beach_side.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-themes
Theme-API=2.0
QtVersion=6
